@{
    ViewData["Title"] = "Mocha Maria's";
}

<div class="text-center">
    <div style="background-color: #845d44; margin: 10px; padding-bottom: 15px; padding-top: 15px; padding-right: 15px; padding-left: 15px;">
        <img src="images/mocha-marias.png" />
    <p></p>

</div>
    <div style="position: sticky; bottom:0; left:0; right:0; background-color: #563927;">
    <p style="color: white;">© Mocha Maria's 2023</p>
    </div>

    @*#845d44
    #a77c60*@