@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-method="post" asp-action="ThankYou">

    <p>
        First Name: <input type="txt" name="firstName" /></p>

    <p>Last Name: <input type="text" name="lastName" /></p>
    <p>Email: <input type="email" name="userEmail" /></p>
    <p>Password: <input type="password" pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])\S{6,}"name="userPassword" required /></p>
    <p>Agree to the privacy policy?<input type="checkbox" name="userAgree" value="true" required/></p>
    <H5>What is your favorite coffee?</H5>
    <p>I'll take it black please.<input type="radio" name="favCoffee" value="Plain and simple." /></p>
    <p>The longer it takes me to order it, the better!<input type="radio" name="favCoffee" value="Something fancy!" /></p>
    <p>I don't drink coffee!'<input type="radio" name="favCoffee" value="No coffee for me!" /></p>
    <p>When is your birthday? <input type="date"name="userBirthday" value="08-10-2023"</p>

        <p></p>
    <input type="submit" /> 
</form>
@*    @{
        if (Model.userAgree != true)
        {
        <p>Please agree to our <a href="http://www.google.com"terms and conditions.></a></p>
        }
    }
*@