@model User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Thank you for registering! @Model.firstName</h1>
<p>Your username is: @Model.userEmail</p>
<p>Your favorate coffee is: @Model.favCoffee</p>
<p>We'll send you a special birthday treat on @Model.userBirthday</p>


@{
    if  (Model.userAgree)
    {
        <p>You have agreed to our privacy policy!</p>
    }
    else
    {
        <p>You have not agreed to our privacy policy!</p>

    }
}
